<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBlpJ86o0BpInAAebRgq905Gebudu2WLDk</string>
	<key>GCM_SENDER_ID</key>
	<string>756594253459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.speakSphere.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>speaksphere-12558</string>
	<key>STORAGE_BUCKET</key>
	<string>speaksphere-12558.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756594253459:ios:73864f9d883970f2447766</string>
</dict>
</plist>